:host {
    ::ng-deep {

        .mat-mdc-form-field-infix {
            width: 80px;
            line-height: 10px;
            font-size: 0.8em;
            min-height: 0;
            padding-top: 8px !important;
            padding-bottom: 8px !important;
        }

        .mat-mdc-floating-label.mdc-floating-label {
            display: none;
        }

        .mat-icon {
            height: 15px;
            width: 15px;
            font-size: 15px;
            line-height: 15px;
            margin: 0 !important;
        }
    }
}

.tax-bracket-input-container {
    width: 375px;
    padding: 20px;
    box-shadow: 2px 2px 34px -10px rgba(0, 0, 0, 0.22);
    display: inline-block;
    border-radius: 5px;
    font-size: 1em;
    border: solid 1px #cfcfcf;
    min-width: 296px;

    caption {
        caption-side: top;
        margin-bottom: 6px;
    }
}