mat-expansion-panel {
  margin-bottom: 10px;
}

@-o-keyframes fadeIt {
  0% {
    background-color: #f6f6f6;
  }

  50% {
    background-color: #cdeef8;
  }

  100% {
    background-color: #f6f6f6;
  }
}

@keyframes fadeIt {
  0% {
    background-color: #f6f6f6;
  }

  50% {
    background-color: #cdeef8;
  }

  100% {
    background-color: #f6f6f6;
  }
}

input.ng-dirty {
  //background-color: aqua !important;
  background-image: none !important;
  -o-animation: fadeIt 2s ease-out;
  animation: fadeIt 2s ease-out;
}

.form-data-container {
  p {
    display: inline-flex;

    ::ng-deep {
      .mat-mdc-form-field {
        //width: 148px;

        .mdc-text-field {
          border-radius: 0;
        }

        .mat-mdc-form-field-infix {
          width: 125px;
        }

        .mat-mdc-form-field-wrapper {
          border-left: solid 1px #cdcdcd;
        }

        .mat-mdc-form-field-icon-suffix {
          font-size: 14px;
          margin: 0 10px;
          align-self: baseline;
        }
      }
    }


  }

  .submit-btn {
    margin-left: 18px;
  }
}

.tax-info-container {
  display: flex;
  justify-content: space-around;


}

.afford-link {
  text-align: end;
}

.form-add-data-container {
  p {
    display: inline-flex;

    mat-form-field {
      width: 175px;

      .mat-form-field-wrapper {
        border-left: solid 1px #cdcdcd;
      }
    }
  }

  .submit-btn {
    margin-left: 18px;
  }
}