<mat-expansion-panel class="form-data-expansion-panel" expanded>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Options
    </mat-panel-title>
    <mat-panel-description>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <form [formGroup]="entryForm" (ngSubmit)="onSubmit()">
    <div class="form-data-container">
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Home Price</mat-label>
          <input matInput #input type="number" ngDefaultControl formControlName="price" name="price" min="0" step="5000"
            placeholder="500000" />
          <span matSuffix>%</span>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Loan Length</mat-label>
          <input matInput #input type="number" ngDefaultControl formControlName="loanLength" name="loanLength" min="0"
            max="30" step="5" placeholder="30" />
          <span matSuffix>%</span>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <mat-label>APR</mat-label>
          <input matInput #input type="number" ngDefaultControl formControlName="apr" name="apr" min="0" max="10"
            step="0.25" placeholder="10" />
          <span matSuffix>%</span>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Downpayment</mat-label>
          <input matInput #input type="number" ngDefaultControl formControlName="downpaymentPer" name="downpaymentPer"
            min="0" step="1" placeholder="10" [class.updated-form-field]="entryForm.get('downpaymentPer').dirty" />
          <span matSuffix>%</span>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Downpayment</mat-label>
          <input matInput #input type="number" ngDefaultControl formControlName="downpaymentAmt" name="downpaymentAmt"
            min="0" step="5000" [class.updated-form-field]="entryForm.get('downpaymentAmt').dirty" />
          <span matSuffix>$</span>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Property Tax Rate</mat-label>
          <input matInput #input type="number" ngDefaultControl formControlName="propertyTaxPer" name="propertyTaxPer"
            min="0" max="10" step="0.1" placeholder="1" />
          <span matSuffix>%</span>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Home Insurance Rate</mat-label>
          <input matInput #input type="number" ngDefaultControl formControlName="homeInsRate" name="homeInsRate" min="0"
            max="10" step="0.1" placeholder="1" />
          <span matSuffix>%</span>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Home Insurance</mat-label>
          <input matInput #input type="number" ngDefaultControl formControlName="homeInsAmt" name="homeInsAmt" min="0"
            placeholder="0" step="100" />
          <span matSuffix>$/Yr</span>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <mat-label>PMI Rate</mat-label>
          <input matInput #input type="number" ngDefaultControl formControlName="pmiRate" name="pmiRate" min="0"
            max="10" step="0.1" placeholder="0.75" />
          <span matSuffix>%</span>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <mat-label>HOA (Monthly)</mat-label>
          <input matInput #input type="number" ngDefaultControl formControlName="hoaMonthly" name="hoaMonthly" min="0"
            max="1000" step="50" placeholder="50" />
          <span matSuffix>$</span>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Maintainance(Monthly)</mat-label>
          <input matInput #input type="number" ngDefaultControl formControlName="maintainanceCostMonthly"
            name="maintainanceCostMonthly" min="0" max="1000" step="50" placeholder="250" />
          <span matSuffix>$</span>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Buyer Closing Costs</mat-label>
          <input matInput #input type="number" ngDefaultControl formControlName="buyerClosingCostsPer"
            name="buyerClosingCostsPer" min="0" step="0.5" placeholder="0" />
          <span matSuffix>%</span>
        </mat-form-field>
      </p>
      <!--<p>
        <button class="submit-btn" mat-raised-button color="primary" type="submit">Update</button>
      </p>-->
    </div>
  </form>
  <div class="afford-link">
    <a target="_blank"
      href="https://www.nerdwallet.com/mortgages/how-much-house-can-i-afford/calculate-affordability">How much I can
      afford?</a>
  </div>
</mat-expansion-panel>

<mat-expansion-panel class="form-add-data-expansion-panel">
  <mat-expansion-panel-header>
    <mat-panel-title>Additional Options</mat-panel-title>
    <mat-panel-description>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <form [formGroup]="additionalEntryForm" (ngSubmit)="onSubmit()">
    <div class="form-data-container form-add-data-container">
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Rental Cost</mat-label>
          <input matInput #input type="number" ngDefaultControl formControlName="rentalAmt" name="rentalAmt" min="0"
            max="10000" step="100" placeholder="0" />
          <span matSuffix>$</span>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Rental Cost Increase</mat-label>
          <input matInput #input type="number" ngDefaultControl formControlName="rentalIncreasePer"
            name="rentalIncreasePer" min="0" max="10" step="1" placeholder="0" />
          <span matSuffix>%</span>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <mat-label>House Appreciation</mat-label>
          <input matInput #input type="number" ngDefaultControl formControlName="houseValueAppreciationPer"
            name="houseValueAppreciationPer" min="0" max="15" step="1" placeholder="0" />
          <span matSuffix>%</span>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Seller Closing Cost</mat-label>
          <input matInput #input type="number" ngDefaultControl formControlName="sellerClosingCostsPer"
            name="sellerClosingCostsPer" min="0" max="15" step="1" placeholder="0" />
          <span matSuffix>%</span>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Tax Benifits Amount (Yearly)</mat-label>
          <input matInput #input type="number" ngDefaultControl formControlName="taxBenifitYearlyAmt"
            name="taxBenifitYearlyAmt" min="0" step="500" placeholder="0" />
          <span matSuffix>$</span>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Return on investment</mat-label>
          <input matInput #input type="number" ngDefaultControl formControlName="avgReturnOnInvestmentPer"
            name="avgReturnOnInvestmentPer" min="0" max="30" step="1" placeholder="0" />
          <span matSuffix>%</span>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Refinance After (months)</mat-label>
          <input matInput #input type="number" ngDefaultControl formControlName="refinanceAfterMonthsCount"
            name="refinanceAfterMonthsCount" min="0" step="6" max="10*12" />
          <span matSuffix></span>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Estimated Refinanced APR</mat-label>
          <input matInput #input type="number" ngDefaultControl formControlName="estimatedRefinanceApr"
            name="estimatedRefinanceApr" min="0" step="0.5" max="10" />
          <span matSuffix></span>
        </mat-form-field>
      </p>
      <!--<p>
      <button class="submit-btn" mat-raised-button color="primary" type="submit">Update</button>
    </p>-->
    </div>
  </form>
</mat-expansion-panel>

<mat-expansion-panel class="form-add-data-expansion-panel" expanded>
  <mat-expansion-panel-header>
    <mat-panel-title>Tax Calculation</mat-panel-title>
    <mat-panel-description>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <div class="tax-calc-container">
    <form [formGroup]="taxOptionsForm" (ngSubmit)="onSubmit()">
      <div class="form-data-container form-add-data-container">
        <p>
          <mat-form-field appearance="fill">
            <mat-label>FIT Taxable Wages</mat-label>
            <input matInput #input type="number" ngDefaultControl formControlName="fitTaxableIncome"
              name="fitTaxableIncome" min="0" max="1000000" step="1000" placeholder="0" />
            <span matSuffix>$</span>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Child Tax Credit</mat-label>
            <input matInput #input type="number" ngDefaultControl formControlName="childTaxCredit" name="childTaxCredit"
              min="0" max="10000" step="100" placeholder="0" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Number of Dependents</mat-label>
            <input matInput #input type="number" ngDefaultControl formControlName="dependentsCount"
              name="dependentsCount" min="0" max="10" step="1" placeholder="0" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Standard Deduction</mat-label>
            <input matInput #input type="number" ngDefaultControl formControlName="standardDeduction"
              name="standardDeduction" min="0" step="1000" placeholder="27700" />
            <span matSuffix>%</span>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>State Tax</mat-label>
            <input matInput #input type="number" ngDefaultControl formControlName="stateTaxRate" name="stateTaxRate"
              min="0" step="0.5" placeholder="0" />
            <span matSuffix>%</span>
          </mat-form-field>
      </div>
    </form>
    <div class="tax-info-container">
      <app-tax-bracket-table [options]="this.taxOptions"
        (onOptionsChanged)="onTaxBracketChange($event)"></app-tax-bracket-table>
      <app-tax-info [data]="taxCalculated"></app-tax-info>
    </div>
  </div>
</mat-expansion-panel>