table {
  padding: 22px 0;
  display: block;

  .detail-val-tr {
    td {
      color: #878686;
    }
  }

  tr.border-offset {
    td {
      padding: 9px 18px;
    }
  }

  td {
    font-size: 1em;
    padding: 8px 18px;
    text-align: right;

    mat-icon {
      width: 20px;
      height: 15px;
      font-size: 18px;

      &.up {
        color: red;
      }

      &.down {
        color: green;
      }
    }
  }

  .hr-tr {
    hr {
      margin: 5px 0;
    }
  }
}
