.overview-header {
  border: solid 1px #dddddd;
  padding: 15px;
  border-radius: 4px;
  margin: 20px 0;
  display: flex;
  flex-direction: row-reverse;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);

  &.fixed {
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 99;
    box-shadow: 2px 2px 34px -10px rgb(0 0 0 / 22%);
  }

  .arrow-btn {
    align-self: center;
    padding: 0;
    margin: 0 20px;
    min-width: 40px;

    @media screen and (max-width: 768px) {
      margin: 0 10px;
      min-width: 16px;
    }

    mat-icon {
      margin-right: 0;
    }
  }

  @media screen and (max-width: 768px) {
    .ngx-slider {
      display: none;
    }

    button.mat-button {
      min-width: 30px;
    }
  }
}

.compare-cards-container {
  display: flex;
  align-items: stretch;
  align-content: center;
  margin-top: 50px !important;
  flex: 1;
  overflow: auto;
  //width: 100%;
  //justify-content: center;

  ::ng-deep {

    th,
    td {
      padding: 0 10px;
    }
  }

}

.summary-tab-container {
  display: flex;
  gap: 60px;
  align-items: center;
}

.tab-panel-container {
  margin-top: 10px;
}

@media screen and (max-width: 1024px) {
  .summary-tab-container {
    display: block;

    .summary-details {
      display: none !important;
    }
  }
}

app-selected-summary {
  display: block;
}

.add-to-compare-dummy-card {
  width: 310px;
  border-radius: 5px;
  font-size: 1em;
  border: dashed 1px #9f9f9f;
  margin-left: 65px;
  margin-top: 20px;
  margin-bottom: 20px;

  display: inline-flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.select-text-container {
  width: 200px;
  color: gray;
}

.slider-label {
  display: flex;
  align-items: center;
  color: gray;

  .slider-val {
    color: black;
    font-size: 16px;
    margin-left: 20px;

    min-width: 125px;

    @media screen and (max-width: 768px) {
      min-width: 96px;
    }
  }

  .slider-month-val {
    font-size: 18px;
    font-weight: bolder;
    border: none;
    width: 42px;
    text-align: right;
    text-decoration: underline;

    &:focus {
      border: solid 1px gray;
      text-decoration: none;
    }
  }

  .month-words {
    display: block;
    color: gray;
    font-size: 14px;
    text-align: center;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}

.month-slider {
  //min-width: 600px;
  width: 50%;

  ::ng-deep {
    .ngx-slider-pointer {
      width: 25px;
      height: 25px;
      top: -11px;

      &:after {
        width: 5.5px;
        height: 5.5px;
        top: 10px;
        left: 10px;
      }
    }

    .ngx-slider-bubble {
      bottom: 13px;
      padding: 1px 7px;
      font-size: 12px;
  }
  }
}

.at-until-select {
  width: 90px;
  text-align: end;
  text-decoration: underline;
  font-size: 14px;
  margin-left: 5px;
  margin-right: 5px;
  font-weight: bold;
}